// --------------------------------------------------------------------------
// はたらく人ファースト宣言バッジ
// プリフィックス：hfb
// ---------------------------------------------------------------------------
.hfbWrapper {
  display: flex;
  align-items: center;

  > button {
    // 企業マーク類のヘルプツールチップの高さを揃える
    margin-top: 6px;
  }
}
