@use "@/scss/utils/variables";

.incomeHeader {
  display: inline-flex;
  align-items: center;
  margin-top: 12px;
  font-weight: normal;
  color: variables.$colorBlueGray;
}

.incomeBody {
  margin-top: 10px;
}

.helpBtn {
  margin-left: 3px;
}

.note {
  margin-top: 4px;
}

.overtimeSalaryText {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.7;
  color: variables.$colorBlueGray;
}
