@use "@/scss/utils/variables";

.container {
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
}

.pagination {
  bottom: -16px;
}

.page {
  width: 6px;
  height: 6px;
  margin: 2.5px;
  background: variables.$colorBlueGray300;

  &[aria-selected="true"] {
    background: variables.$colorSecondaryBlue1;
    transform: scale(1);
  }
}
