# ローカル利用する定義
AICA_AGENT_DB_HOST=pgvector
AICA_AGENT_DB_PORT=5432
AICA_AGENT_DB_USER=postgres
AICA_AGENT_DB_PASSWORD=postgres
AICA_AGENT_DB_NAME=postgres
AICA_AGENT_DB_SSLMODE=disable

### レート制限
#### チャットリクエスト
AICA_RATE_LIMIT_CHAT_REQUEST_SESSION_HOUR=100
AICA_RATE_LIMIT_CHAT_REQUEST_SESSION_DAY=200
AICA_RATE_LIMIT_CHAT_REQUEST_IP_HOUR=5000
AICA_RATE_LIMIT_CHAT_REQUEST_IP_DAY=10000
AICA_RATE_LIMIT_CHAT_REQUEST_GUEST_HOUR=25000
AICA_RATE_LIMIT_CHAT_REQUEST_GUEST_DAY=50000
#### 求人詳細閲覧
AICA_RATE_LIMIT_POSITION_DETAIL_SESSION_HOUR=100
AICA_RATE_LIMIT_POSITION_DETAIL_SESSION_DAY=200
AICA_RATE_LIMIT_POSITION_DETAIL_IP_HOUR=5000
AICA_RATE_LIMIT_POSITION_DETAIL_IP_DAY=10000
AICA_RATE_LIMIT_POSITION_DETAIL_GUEST_HOUR=25000
AICA_RATE_LIMIT_POSITION_DETAIL_GUEST_DAY=50000
#### 求人検索
AICA_RATE_LIMIT_POSITION_SEARCH_SESSION_HOUR=20
AICA_RATE_LIMIT_POSITION_SEARCH_SESSION_DAY=50
AICA_RATE_LIMIT_POSITION_SEARCH_IP_HOUR=1000
AICA_RATE_LIMIT_POSITION_SEARCH_IP_DAY=2500
AICA_RATE_LIMIT_POSITION_SEARCH_GUEST_HOUR=5000
AICA_RATE_LIMIT_POSITION_SEARCH_GUEST_DAY=12500
#### 求人をもっと見る
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_SESSION_HOUR=20
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_SESSION_DAY=50
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_IP_HOUR=1000
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_IP_DAY=2500
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_GUEST_HOUR=5000
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_GUEST_DAY=12500

### Redis接続情報
AICA_REDIS_HOST=aica-redis
AICA_REDIS_PORT=6379

# インフラ管理
AICA_PYTHON_FERNET_AES_128_CBC_KEY_LV5=67890
