@use "@/scss/utils/variables";

.industryContentListItem {
  font-size: 14px;

  & + & {
    margin-top: 20px;
  }
}

.industryContentTitle {
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 1.5;
}
