// --------------------------------------------------------------------------
// 健康経営優良法人認定の説明モーダルコンポーネントのスタイル
// ---------------------------------------------------------------------------
.contents {
  padding: 20px;
  line-height: 1.7;
  text-align: left;
}
