AICA_ENV=local
AICA_MCP_TOOL_API_PORT=10001
AICA_MCP_TOOL_API_DB_HOST=pgvector
AICA_MCP_TOOL_API_DB_PORT=5432
AICA_MCP_TOOL_API_DB_USER=postgres
AICA_MCP_TOOL_API_DB_PASSWORD=
AICA_MCP_TOOL_API_DB_NAME=postgres
AICA_MCP_TOOL_API_DB_SSLMODE=disable
AICA_MCP_TOOL_API_MIIDAS_DB_HOST=writer.db01.share.miidas.dev
AICA_MCP_TOOL_API_MIIDAS_DB_USER=eng
AICA_MCP_TOOL_API_MIIDAS_DB_PASSWORD=
AICA_MCP_TOOL_API_MIIDAS_DB_PORT=3306
AICA_MCP_TOOL_API_MV2_HOST=api01.share.miidas.dev
AICA_MCP_TOOL_API_MV2_PORT=9102
AICA_MCP_TOOL_API_MV2_INSECURE=false

AICA_MCP_TOOL_BATCH_DB_HOST=pgvector
AICA_MCP_TOOL_BATCH_DB_PORT=5432
AICA_MCP_TOOL_BATCH_DB_USER=postgres
AICA_MCP_TOOL_BATCH_DB_PASSWORD=
AICA_MCP_TOOL_BATCH_DB_NAME=postgres
AICA_MCP_TOOL_BATCH_DB_SSLMODE=disable
AICA_MCP_TOOL_BATCH_MIIDAS_DB_HOST=writer.db01.share.miidas.dev
AICA_MCP_TOOL_BATCH_MIIDAS_DB_USER=eng
AICA_MCP_TOOL_BATCH_MIIDAS_DB_PASSWORD=
AICA_MCP_TOOL_BATCH_MIIDAS_DB_PORT=3306
OPENAI_API_KEY=

MIIDAS_S3_USER_ASSETS_ENDPOINT=assets.share.miidas.dev
