AICA_ENV=local

OPENAI_API_KEY=test
# ローカル利用する定義
AICA_AGENT_PORT=8000
AICA_AGENT_DB_HOST=pgvector
AICA_AGENT_DB_PORT=5432
AICA_AGENT_DB_USER=postgres
AICA_AGENT_DB_PASSWORD=postgres
AICA_AGENT_DB_NAME=postgres
AICA_AGENT_DB_SSLMODE=disable
AICA_AGENT_MCP_ENDPOINT=http://mcp-server:8080/sse
AICA_AGENT_API_ENDPOINT=http://api-server:10001/aica/mcptool/
AICA_AGENT_MIIDAS_API_ENDPOINT=https://dev.miidas.dev/
AICA_AGENT_ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com
AICA_AGENT_MAINTENANCE_JSON_URL=http://aica-localstack:4567/local-miidas-app/api/v1/maintenance/aica.json

### レート制限
#### チャットリクエスト
AICA_RATE_LIMIT_CHAT_REQUEST_SESSION_HOUR=100
AICA_RATE_LIMIT_CHAT_REQUEST_SESSION_DAY=200
AICA_RATE_LIMIT_CHAT_REQUEST_IP_HOUR=5000
AICA_RATE_LIMIT_CHAT_REQUEST_IP_DAY=10000
AICA_RATE_LIMIT_CHAT_REQUEST_GUEST_HOUR=25000
AICA_RATE_LIMIT_CHAT_REQUEST_GUEST_DAY=50000
#### 求人詳細閲覧
AICA_RATE_LIMIT_POSITION_DETAIL_SESSION_HOUR=100
AICA_RATE_LIMIT_POSITION_DETAIL_SESSION_DAY=200
AICA_RATE_LIMIT_POSITION_DETAIL_IP_HOUR=5000
AICA_RATE_LIMIT_POSITION_DETAIL_IP_DAY=10000
AICA_RATE_LIMIT_POSITION_DETAIL_GUEST_HOUR=25000
AICA_RATE_LIMIT_POSITION_DETAIL_GUEST_DAY=50000
#### 求人検索
AICA_RATE_LIMIT_POSITION_SEARCH_SESSION_HOUR=20
AICA_RATE_LIMIT_POSITION_SEARCH_SESSION_DAY=50
AICA_RATE_LIMIT_POSITION_SEARCH_IP_HOUR=1000
AICA_RATE_LIMIT_POSITION_SEARCH_IP_DAY=2500
AICA_RATE_LIMIT_POSITION_SEARCH_GUEST_HOUR=5000
AICA_RATE_LIMIT_POSITION_SEARCH_GUEST_DAY=12500
#### 求人をもっと見る
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_SESSION_HOUR=20
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_SESSION_DAY=50
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_IP_HOUR=1000
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_IP_DAY=2500
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_GUEST_HOUR=5000
AICA_RATE_LIMIT_LOAD_MORE_POSITIONS_GUEST_DAY=12500

### Redis接続情報
AICA_REDIS_HOST=aica-redis
AICA_REDIS_PORT=6379

# bedrockを利用するときのみ
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION_NAME=

# disable OpenAI Agents tracing
OPENAI_AGENTS_DISABLE_TRACING=1
# disable LiteLLM debug log
OPENAI_AGENTS_DONT_LOG_MODEL_DATA=1

AICA_PYTHON_FERNET_AES_128_CBC_KEY_LV3=12345
AICA_PYTHON_FERNET_AES_128_CBC_KEY_LV5=67890

# Flywayのディレクトリー
AICA_MIGRATION_DIR=/path/to/my/home/miidas/db_migrations/aica/
