AICA_MCP_API_SERVER=http://api-server:10001
AICA_MCP_PORT=8080
AICA_MCP_DB_HOST=pgvector
AICA_MCP_DB_PORT=5432
AICA_MCP_DB_USER=postgres
AICA_MCP_DB_PASSWORD=postgres
AICA_MCP_DB_NAME=postgres
AICA_MCP_DB_SSLMODE=disable