NEXT_PUBLIC_AGENT_ENDPOINT=ws://localhost:8000/aica/agent/chat
NEXT_PUBLIC_API_ENDPOINT=http://localhost:8000/aica/agent
NEXT_PUBLIC_BASE_PATH=/aica
NEXT_PUBLIC_ASSET_PATH=/aica

# local development staging production
NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_GTM_TRACKING_CODE=
